.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./AdobeStock_353352370.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
}

.centerDiv {
  width: 35%;
  height: 40%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fileHeader {
  color: white;
  width: 100%;
  text-align: center;
  margin: 25px;
}

.form {
  color: white;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
